@charset "utf-8";
/* CSS Document */

.background-color {
    background-color: black;
    padding: 100px;
    height: 100%;
}

.footer-link {
    color: white;
}

ul {
    list-style: none;
}

.footer-title {
    color: white;
    font-size: 30px;
}

.mail {
    padding-bottom: 30px;
}

.next-footer {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    padding: 10px;
}

.footer-link:hover {
    color: #7534F6;
    text-decoration: none;
    transition-duration: 2s;
}

.footer-link:active {
    color: #7534F6;
}

#mail {
    background-color: #7534F6;
    color: white;
    border-radius: none;
}

@media (min-width: 100px) and (max-width: 600px) {
    #mail {
        padding-right: 50px;
        padding-bottom: 10px;
    }
}