@charset "utf-8";
/* CSS Document */
* {
  margin: 0 auto;
  padding: 0;
  display: 'Unica One';
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-weight: bold;
}
/*NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*SEARCH*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.icon {
  width: 23px;
  height: 23px;
}
.next {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 290px;
  left: 80%;
  z-index: 1;
  animation: next 2s ease-in infinite;
  animation-direction: alternate;
}
@keyframes next {
  from {
    left: 80%;
  }
  to {
    left: 90%;
  }
}
.btn {
  background-color: #7534F6;
  color: #7534F6;
  /* border-color: #7534F6; */
  border-radius: 0%;
  width: 0px;
  height: 40px;
  margin-right: -37px;
  padding-left: 10px;
  padding-right: 30px;
}
.btn:hover {
  background-color: white;
  border-color: white;
}
.btn:active {
  background-color: black;
  border-color: black;
}
.mr-sm-2, .form-control input {
  background-color: #7534F6;
  color: white;
  border-radius: 0%;
  border-color: #7534F6;
  height: 40px;
  padding-right: 70px;
}
a.nav-link {
  color: black;
  display: bold;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
.nav-link:hover {
  background-color: #7534F6;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  transition: ease-in 1s;

}
.datum {
  color: white;
  background-color: #7534F6;
  display: inline-block;
  height: 30px;
  width: 30%;
  text-align: center;
  top: 160px;
  left: 60px;
  position: absolute;
  z-index: 1;
}
.news-text {
  padding: 10px;
  color: black;
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
  font-size: 20px;
}
a.button {
  display: inline-block;
  color: white;
  background-color: #7534F6;
  padding: 10px;
  font-size: 20px;
}
a.button:hover {
  text-decoration: none;
  color: black;
  transition-duration: 2s;
}
.news {
  position: relative;
  right: 90px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.datum:hover {
  background-color: white;
  color: #7534F6;
  text-decoration: none;
  z-index: 1;
  transition-duration: 1s;
}
h1 {
  font-size: 70px;
  color: #7534F6;
}
h2 {
  font-size: 70px;
  margin-top: 300px;
}
.news:hover {
  z-index: 0;
}
.line {
  border: #7534F6 solid 2px;
  width: 100%;
  margin-bottom: 200px;
  margin-top: 40px;
  animation: line 1s ease-in-out 1s infinite;
  animation-direction: alternate;
}
@keyframes line {
  from {
    border-color: #7534F6;
  }
  to {
    border-color: black;
  }
}
.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: relative;
  top: 30px;
  right: 250px;
  font-size: 70px;
  padding-top: 10px;
}
/* LINE UP*>>>>>>>>>>>>>>>>>>>>>>>*/
.ticket {
  display: inline-block;
  background-color: #7534F6;
  color: white;
  text-align: center;
  margin-top: 30px;
  width: 30%;
  padding: 30px;
  position: relative;
  left: 35%;
}
.ticket:hover {
  color: black;
  text-decoration: none;
}
.artist, .purple-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.purple-block {
  background-color: #7534F6;
  height: 94%;
}
.artist {
  padding-bottom: 20px;
}
.artist-name {
  display: inline-block;
  background-color: #7534F6;
  width: 100px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 190px;
  left: 150px;
}
.artist-name:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.1);
  transition-duration: 1s;
}
/*DUA LIPA INFORMATIE >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.artist-text {
  background-color: #EBEBEB;
  font-size: 10px;
  padding: 10px;
  height: 70%;
}
.listen-now {
  display: inline-block;
  background-color: #7534F6;
  color: white;
  text-align: right;
  justify-content: baseline;
  position: relative;
  bottom: 10px;
  width: 100%;
  font-size: 40px;
  padding-right: 10px;
}
.white-arrow {
  width: 15%;
  padding-right: 10px;
  z-index: 1;
}
.listen-now:hover {
  color: black;
  text-decoration: none;
}
.down-arrow {
  transform: rotate(90deg);
  width: 10%;
  position: relative;
  left: 45%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.listen {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.youtube {
  width: 100%;
}
/*ONLINE FESTIVAL >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.number {
  color: #7534F6;
  font-size: 30px;
}
.text {
  font-size: 10px;
}
.koop {
  display: inline-block;
  background-color: #7534F6;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
a.koop:hover {
  color: black;
  text-decoration: none;
}
h1, .koop {
  margin-top: 20px;
}
.top {
  margin-top: 345px;
}
/*CONTACT>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
input[type=text] {
  background-color: #7534F6;
  border: none;
  display: block;
  padding: 10px;
  width: 100%;
  color: white;
}
input[type=submit] {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}
input[type=submit]:hover {
  color: black;
  background-color: white;
  transition-duration: 1s;
}
input[type=submit]:active {
  border: none;
}
::placeholder {
  color: white;
  line-height: 100px;
}
#message {
  height: 200px;
  display: flex;
  align-items: center;
}
#down {
  width: 100px;
  margin-bottom: 50px;
}
h2 {
  margin-top: 50px;
}
#submit {
  margin-top: 155px;
}
/*SOORTEN TICKETS>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#next-black {
  width: 60px;
  position: relative;
  right: 80px;
}
/*##Device=Desktops ##Screen=1281px to higher resolution desktops */
@media (min-width: 1281px) {}
/* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
        */
@media (min-width: 1025px) and (max-width: 1280px) {
  .next {
    left: 210px;
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
@media (min-width: 800px) {}
@media (min-width: 900px) {
  .vertical-text {
    right: 90px;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .datum {
    font-size: 15px;
    width: 200px;
    height: 30px;
    bottom: 100px;
    left: 15px;
    padding-top: 5px;
  }
  .vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: relative;
    top: 50px;
    right: 170px;
    font-size: 50px;
    top: 10px;
  }
  .news {
    width: 200px;
    height: 200px;
    right: 0;
  }
  h1 {
    position: relative;
    left: 35px;
  }
  .next {
    width: 80px;
    height: 80px;
    bottom: 150px;
    left: 170px;
    position: none;
  }
  .artist-name {
    display: inline-block;
    font-size: 20px;
    bottom: 300px;
    left: 200px;
    padding-right: 70px;
    padding-right: 70px;
    text-align: center;
  }
  .ticket {
    width: 100%;
    left: 0px;
  }
  #submit {
    margin-top: 0;
  }
  .top {
    margin-top: 150px;
  }
}